$minHeightWidth : 0 !default;
$maxHeightWidth : 150 !default;
$heightWidthList : 160,170,180,190,200,250,300,350,400,45,500,550,600,700,800,900 !default;

.w-100p {
  width: 100%;
}
.w-100p-imp {
  width: 100% !important;
}
.h-100p {
  height: 100%;
}
.min-h-100p {
  min-height: 100%;
}
.w-h-100p {
  width: 100%;
  height: 100%;
}
@for $num from $minHeightWidth through $maxHeightWidth {
  .w-#{$num} {
    width: #{$num}px;
  }
  .min-w-#{$num} {
    min-width: #{$num}px;
  }
  .max-w-#{$num} {
    max-width: #{$num}px;
  }
  .h-#{$num} {
    height: #{$num}px;
  }
  .min-h-#{$num} {
    min-height: #{$num}px;
  }
  .max-h-#{$num} {
    max-height: #{$num}px;
  }
}
@each $num in $heightWidthList{
  .w-#{$num} {
    width: #{$num}px;
  }
  .min-w-#{$num} {
    min-width: #{$num}px;
  }
  .max-w-#{$num} {
    max-width: #{$num}px;
  }
  .h-#{$num} {
    height: #{$num}px;
  }
  .min-h-#{$num} {
    min-height: #{$num}px;
  }
  .max-h-#{$num} {
    max-height: #{$num}px;
  }
}
