$minPosition : 0 !default;
$maxPosition : 50 !default;
$positionList :60,70,80,90,100 !default;

.relative{
    position:relative;
}
.absolute{
    position:absolute;
}
.fixed{
    position:fixed;
}
@for $num from $minPosition through $maxPosition {
    .t-#{$num}{
        top:#{$num}px;
    }
    .r-#{$num}{
        right:#{$num}px;
    }
    .l-#{$num}{
        left:#{$num}px;
    }
    .b-#{$num}{
        bottom:#{$num}px;
    }
}

@each $num in $positionList{
    .t-#{$num}{
        top:#{$num}px;
    }
    .r-#{$num}{
        right:#{$num}px;
    }
    .l-#{$num}{
        left:#{$num}px;
    }
    .b-#{$num}{
        bottom:#{$num}px;
    }
}